@*@model *@

@{
    ViewBag.Title = "Index";
}

<form class="register-form" action="/Chat/Start">
	<input name="username" />
	<input name="companyname" />
	<input type="submit" />
</form>

